@model List<User>

@{
    ViewData["Title"] = "Index";
}

<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>No.</th>
            <th>User Name</th>
            <th>Date of Birth</th>
            <th>Gender</th>
            <th>Address</th>
        </tr>
    </thead>
    <tbody>
        @{
            int index = 1;
        }
        @foreach(var user in Model)
        {
            <tr>
                <td>@index</td>
                <td>@user.FirstName @user.LastName</td>
                <td>@user.DateOfBirth.ToShortDateString()</td>
                <td>@user.Gender</td>
                <td>@user.Address</td>
            </tr>
            index++;
        }
    </tbody>
</table>

